
body {

    color: #f7f7f7;
  }
  .jumbotron {
    background-image: url("../css/image/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  .bg-dark {
    background-color: #0D1117 !important;
  }